@model ProjectJobPortalSystem.Models.JobSeekerModel

@{
    ViewData["Title"] = "Details";
}
<h1>Details Of Job Applied</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
    </dl>
</div>
@if (Model == null || !Model.jobs.Any())
{
    <p class="text-danger">Not Applied to Any Jobs.</p>
}
else
{

    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().Id)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().JobTitle)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().TypeofJob)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().Website)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().Location)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().PostedDate)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().EmployerId)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().Location)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().SalaryInfo)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().Description)</th>
           
        </tr>
        @foreach (var jobList in Model.jobs)
        {
            <tr>
                <th>@Html.DisplayFor(_ => jobList.Id)</th>
                <th>@Html.DisplayFor(_ => jobList.JobTitle)</th>
                <th>@Html.DisplayFor(_ => jobList.TypeofJob)</th>
                <th>@Html.DisplayFor(_ => jobList.Website)</th>
                <th>@Html.DisplayFor(_ => jobList.Location)</th>
                <th>@Html.DisplayFor(_ => jobList.PostedDate)</th>
                <th>@Html.DisplayFor(_ =>jobList.EmployerId)</th>
                <th>@Html.DisplayFor(_ => jobList.Location)</th>
                <th>@Html.DisplayFor(_ => jobList.SalaryInfo)</th>
                <th>@Html.DisplayFor(_ => jobList.Description)</th>
                
            </tr>
        }
    </table>
}
<div>
    <a asp-controller="JobSeeker" asp-action="List">Back to List</a>
</div>
