@model ProjectJobPortalSystem.Models.JobSeekerModel

@{
    ViewData["Title"] = "Details";
}

@if (@User.Identity?.Name! == "admin@gmail.com")
{
    <dl class="row">
        <h1 class="alert alert-primary">Details Of JobSeeker</h1>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resume)
        </dd>
    </dl>
}

<h1 class="alert alert-primary">Details Of Applied Jobs</h1>
    <hr />
   
@if (Model == null || !Model.jobs.Any())
{
    <p class="text-danger">Not Applied to Any Jobs.</p>
}
else
{
    <h3 class="alert alert-info"> Applied Job Details </h3>
    <table class="table table-bordered">
        <tr class="table-dark">
            <th>No</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().JobTitle)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().TypeofJob)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().Website)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().Location)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().PostedDate)</th>
            <th>EmployerEmail</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().Location)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().SalaryInfo)</th>
            <th>@Html.DisplayNameFor(Model => Model.jobs.First().Description)</th>

        </tr>
        @foreach (var jobList in Model.jobs)
        {
            <tr class="table-success">
                <td>@Html.DisplayFor(_ => jobList.Id)</td>
                <td>@Html.DisplayFor(_ => jobList.JobTitle)</td>
                <td>@Html.DisplayFor(_ => jobList.TypeofJob)</td>
                <td>@Html.DisplayFor(_ => jobList.Website)</td>
                <td>@Html.DisplayFor(_ => jobList.Location)</td>
                <td>@Html.DisplayFor(_ => jobList.PostedDate)</td>
                <td>@ViewBag.EmployerName</td>
                <td>@Html.DisplayFor(_ => jobList.Location)</td>
                <td>@Html.DisplayFor(_ => jobList.SalaryInfo)</td>
                <td>@Html.DisplayFor(_ => jobList.Description)</td>

            </tr>
        }
    </table>
}
<div>
    @if (@User.Identity?.Name! == "admin@gmail.com")
{
        <a asp-controller="JobSeeker" asp-action="List" class="btn btn-danger">HomePage</a>
    }
    else
    {
        <a asp-controller="Home" asp-action="Index_JobSeeker" class="btn btn-danger">HomePage</a>
    }
</div>
