@model ProjectJobPortalSystem.Models.JobSeekerModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="alert alert-primary">Edit Job Seeker </h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" readonly class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Old Password</label>
                <input required name="OldPassword" id="OldPassword" class="form-control" type="password" />
                @if (TempData.ContainsKey("OldPasswordError"))
                {
                    <span class="text-danger">@TempData["OldPasswordError"]</span>
                }
            </div>
            <div class="form-group">
                <label class="control-label">New Password</label>
                <input name="NewPassword" id="NewPassword" class="form-control" type="password" />
                @if (TempData.ContainsKey("NewPasswordError"))
                {
                    <span class="text-danger">@TempData["NewPasswordError"]</span>
                }
            </div>
            <div class="form-group">
                <label class="control-label">Confirm New Password</label>
                <input name="ConfirmNewPassword" id="ConfirmNewPassword" class="form-control" type="password" />
                @if (TempData.ContainsKey("ConfirmPasswordError"))
                {
                    <span class="text-danger">@TempData["ConfirmPasswordError"]</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <dd class="col-sm-10">
                    @if (!string.IsNullOrEmpty(Model.Resume))
                    {
                        <a href="@Url.Content("~/resumes/" + Model.Resume)" download> @Model.Resume  - Download Resume  </a>
                    }
                    else
                    {
                        <p>No resume available</p>
                    }
                </dd> 
            </div> 
            <div class="form-group">
                <label asp-for="Resume" class="control-label">New Resume</label>
                <input asp-for="Resume" class="form-control" type="file" data-val="false" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> 
                <a asp-controller="Home" asp-action="Index_JobSeeker" class="btn btn-danger">HomePage</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
