@model ProjectJobPortalSystem.Models.JobsModel

@{
    ViewData["Title"] = "Apply";
}

<div class="container">
    <h1 class="alert alert-primary col-md-8">Do you want to confirm apply for this job ??</h1>
    <div class="card mb-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Job Title:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.JobTitle)</dd>
                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
                <dt class="col-sm-3">Type of Job:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TypeofJob)</dd>
                <dt class="col-sm-3">Salary:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SalaryInfo)</dd>
                <dt class="col-sm-3">Posted Date:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PostedDate)</dd>
                <dt class="col-sm-3">Location:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>
                <dt class="col-sm-3">Website:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Website)</dd>
            </dl>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Apply" asp-route-jobId="@Model?.Id">
                <br />
                <div class="form-group">
                    <input type="submit" value="Apply" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <a asp-controller="Jobs" asp-action="List" class="btn btn-danger">Back to List of Jobs</a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
