@model ProjectJobPortalSystem.Models.JobsModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1 class="alert alert-primary display-4 mb-4">Delete Job</h1>

    <h3>Are you sure you want to delete this?</h3>
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
    <div class="card mb-4">
        <div class="card-body">
            
            <dl class="row">
                
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.JobTitle)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.JobTitle)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Website)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Website)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.TypeofJob)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TypeofJob)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.SalaryInfo)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SalaryInfo)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PostedDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PostedDate)
                </dd>
                <dt class="col-sm-3">
                   EmployerEmail
                </dt>
                <dd class="col-sm-9">
                        @ViewBag.EmployerName
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Location)
                </dd>
            </dl>
          <input type="submit" value="Delete" class="btn btn-danger" /> |
             @if (@User.Identity?.Name! != "admin@gmail.com")
     {
                    <a asp-controller="Employer" asp-action="Details" asp-route-id="@Model.EmployerId" class="btn btn-danger">Back to List</a>
                }
                else
                {
                    <a asp-controller="Jobs" asp-action="List" class="btn btn-danger">Back to List</a>

                }

        </div>
    </div>
    </form>
</div>
