@model ProjectJobPortalSystem.Models.JobsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="alert alert-primary col-md-8">Job Details</h1>
  

    <div class="card mb-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Job Title:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.JobTitle)</dd>
                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
                <dt class="col-sm-3">Type of Job:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TypeofJob)</dd>
                <dt class="col-sm-3">Salary:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SalaryInfo)</dd>
                <dt class="col-sm-3">Posted Date:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PostedDate)</dd>
                <dt class="col-sm-3">Location:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>
                <dt class="col-sm-3">Website:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Website)</dd>
            </dl>
        </div>
        </div>
    </div>

    <h3 class="mb-4 alert-success">Employer Details</h3>
    @if (ViewBag.Employer != null)
    {
        <div class="card mb-4">
            <div class="card-body">
                <dl class="row">
                    
                    <dt class="col-sm-3">Name:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.FirstName @ViewBag.Employer.LastName</dd>
                    <dt class="col-sm-3">Contact No:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.ContactNo</dd>
                    <dt class="col-sm-3">Email:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.Email</dd>
                    <dt class="col-sm-3">Company Name:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.CompanyName</dd>
                    <dt class="col-sm-3">Company Profile:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.CompanyProfile</dd>
                    <dt class="col-sm-3">Position:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.Position</dd>
                </dl>
            </div>
        </div>
    }
      @if (@User.Identity?.Name! == "admin@gmail.com")
     {

    @if (ViewBag.JobSeekers != null && ViewBag.JobSeekers.Count > 0)
{
<h3 class="mb-4 alert-success">Applied Job Seekers</h3>
<table class="table table-striped">
    <thead>
        <tr class="table-dark">

            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>ContactNo</th>
            <th>Skills</th>
            <th>Resume</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jobSeeker in ViewBag.JobSeekers)
        {
            <tr class="table-info">

                <td>@jobSeeker.FirstName</td>
                <td>@jobSeeker.LastName</td>
                <td>@jobSeeker.Email</td>
                <td>@jobSeeker.ContactNo</td>
                <td>@jobSeeker.Skills</td>
                @if (!string.IsNullOrEmpty(jobSeeker.Resume))
                {
                    <th> <a href="@Url.Content("~/resumes/" + @jobSeeker.Resume)" download> @jobSeeker.Resume  - Download Resume  </a></th>
                }
                else
                {
                    <th>No resume available</th>
                }
            </tr>
        }
    </tbody>
</table>
}
else
{
<h3 class="mb-4 alert-danger">No job seekers applied for this job.</h3>

}
}
    <div class="mt-4">
        <a asp-controller="Jobs" asp-action="List" class="btn btn-danger">Back to List of Jobs</a>
    </div>
</div>

