@model ProjectJobPortalSystem.Models.JobsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="alert alert-primary col-md-8">Job Details</h1>

    <div class="card mb-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Job Title:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.JobTitle)</dd>
                <dt class="col-sm-3">Description:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
                <dt class="col-sm-3">Type of Job:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.TypeofJob)</dd>
                <dt class="col-sm-3">Salary:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.SalaryInfo)</dd>
                <dt class="col-sm-3">Posted Date:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PostedDate)</dd>
                <dt class="col-sm-3">Location:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>
                <dt class="col-sm-3">Website:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Website)</dd>
            </dl>
        </div>
        </div>
    </div>

    <h3 class="mb-4 alert-success">Employer Details</h3>
    @if (ViewBag.Employer != null)
    {
        <div class="card mb-4">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Employer ID:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.Id</dd>
                    <dt class="col-sm-3">Name:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.FirstName @ViewBag.Employer.LastName</dd>
                    <dt class="col-sm-3">Contact No:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.ContactNo</dd>
                    <dt class="col-sm-3">Email:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.Email</dd>
                    <dt class="col-sm-3">Company Name:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.CompanyName</dd>
                    <dt class="col-sm-3">Company Profile:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.CompanyProfile</dd>
                    <dt class="col-sm-3">Position:</dt>
                    <dd class="col-sm-9">@ViewBag.Employer.Position</dd>
                </dl>
            </div>
        </div>
    }

    <div class="mt-4">
        <a asp-controller="Jobs" asp-action="List" class="btn btn-danger">Back to List of Jobs</a>
    </div>
</div>
