@model ProjectJobPortalSystem.Models.EmployerModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="alert alert-primary">Delete Employer</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
  @if (Model == null || !Model.Jobslist.Any())
{
    <h3 class="alert alert-danger">No Jobs Posted.</h3>
}
else
{
    <h3 class="alert alert-primary">Details of posted jobs</h3>
    <table class="table table-bordered">
        <tr class="table-dark">
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Id)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().JobTitle)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().TypeofJob)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Website)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Location)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().PostedDate)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().EmployerId)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Location)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().SalaryInfo)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Description)</th>
            
        </tr>
        @foreach (var jobList in Model.Jobslist)
        {
            <tr class="table-success">
                <td>@Html.DisplayFor(_ => jobList.Id)</td>
                <td>@Html.DisplayFor(_ => jobList.JobTitle)</td>
                <td>@Html.DisplayFor(_ => jobList.TypeofJob)</td>
                <td>@Html.DisplayFor(_ => jobList.Website)</td>
                <td>@Html.DisplayFor(_ => jobList.Location)</td>
                <td>@Html.DisplayFor(_ => jobList.PostedDate)</td>
                <td>@Html.DisplayFor(_ =>jobList.EmployerId)</td>
                <td>@Html.DisplayFor(_ => jobList.Location)</td>
                <td>@Html.DisplayFor(_ => jobList.SalaryInfo)</td>
                <td>@Html.DisplayFor(_ => jobList.Description)</td>
                

            </tr>
        }
    </table>
}
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="Employer" asp-action="List" class="btn btn-primary">Back to List of Employer </a>
    </form>
   
</div>
