@model ProjectJobPortalSystem.Models.EmployerModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EmployerModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
</div>
@if (Model == null || !Model.Jobslist.Any())
{
    <p class="text-danger">No Jobs Created.</p>
}
else
{
    <p>Details of Job Posted</p>
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Id)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().JobTitle)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().TypeofJob)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Website)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Location)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().PostedDate)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().EmployerId)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Location)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().SalaryInfo)</th>
            <th>@Html.DisplayNameFor(Model => Model.Jobslist.First().Description)</th>

        </tr>
        @foreach (var jobList in Model.Jobslist)
        {
            <tr>
                <td>@Html.DisplayFor(_ => jobList.Id)</td>
                <td>@Html.DisplayFor(_ => jobList.JobTitle)</td>
                <td>@Html.DisplayFor(_ => jobList.TypeofJob)</td>
                <td>@Html.DisplayFor(_ => jobList.Website)</td>
                <td>@Html.DisplayFor(_ => jobList.Location)</td>
                <td>@Html.DisplayFor(_ => jobList.PostedDate)</td>
                <td>@Html.DisplayFor(_ =>jobList.EmployerId)</td>
                <td>@Html.DisplayFor(_ => jobList.Location)</td>
                <td>@Html.DisplayFor(_ => jobList.SalaryInfo)</td>
                <td>@Html.DisplayFor(_ => jobList.Description)</td>
                <td>
                    <a asp-controller="Jobs" asp-action="Edit" asp-route-id="@jobList.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Jobs" asp-action="Delete" asp-route-id="@jobList.Id" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
    </table>
}
<p>
    <a asp-controller="Jobs" asp-action="Create" asp-route-employerId="@Model?.Id" class="btn btn-primary">Create New Job</a>
</p>
<p>
    <a asp-controller="Employer" asp-action="List" class="btn btn-primary">Back to List of Employer </a>
</p>